@charset "utf-8";
.bi_tit{
	height:57px;
	background-image:url(../img/bireportlog.png);
	background-repeat:no-repeat;
	background-position:left center;
	background-color:#FFFFFF;
}
.textpanel {
    line-height: 30px;
    margin: 10px;
}
span.inputtext {
    display: inline-block;
    width: 90px;
}
.inputform {
    width: 160px;
}
.comp_table{
	border:dotted 1px #999999;
	margin-bottom:10px;
}

.comp_table .title{
	padding:3px;
	background-color:#EFEFEF;
	border-bottom:dotted 1px #999999;
	height:18px;
}
.comp_table .title .tname{
	float:left;
}
.comp_table .title .mvcomp{
	height:18px;
	float:right;
	width:100%;
	margin-left:-200px;
}
/*组件工具按钮定义-start*/
.comp_table .title a.l-btn span span.l-btn-text {
	height:14px;	
}
.comp_table .title a.l-btn span.l-btn-left{
	padding:0px 0px 0px 0px
}
.comp_table .title a.l-btn{
	height:16px;
}
.comp_table .title a.l-btn-plain{
	margin-top:-2px;
}
.icon-moveComponent{
	background:url('../image/move.png') no-repeat;
}
.icon-removeComponent{
	background:url('../img/closeme.png') no-repeat;
}
/*组件工具按钮定义-end*/

.comp_table .title .ticon{
	width:22px;
	height:16px;
	text-align:right;
	display:inline;
	/*float:right;
	margin-top:-16px;*/
}
.comp_table .title .ticon a{
	width:16px;
	height:16px;
	background:url("../img/closeme.png");
	background-position:center center;
	cursor:pointer;
	display:inline-block;
	opacity:0.6;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../resource/img/closeme.png");
}
.comp_table .ctx{
	padding:5px;
	background-color:#FFFFFF;
}

.txtctxdiv{
	margin:1px;
}
.txtctxdiv textarea {
	border:none;
}
.tabhelpr{
	color:#999999;
	font-size:14px;
	padding:15px;
}
.tabhelpr2{
	color:#999999;
	font-size:14px;
	padding:15px;
}
.indicator{
	position:absolute;
	font-size:14px;
	width:50px;
	height:10px;
	display:none;
	color:red;
}

table.d_table {
    border-collapse:collapse;
    border-spacing: 0px;
    border-cellpadding: 0px;
}
table.d_table th {
    background-color: #eeeeee;
    border: 1px solid #cacaca;
    font-size: 12px;
    padding: 0;
}
table.d_table td.onesel2 {
	height:20px;
	background-color: #F9F9F9;
}
table.d_table td.onesel {
	height:20px;
}
table.d_table td.blank {
	border:none;
}
TABLE.d_table TD {
    border: 1px solid #CACACA;
    padding: 0px;
    font-size: 12px;
}
table.d_table2 {
    border-collapse:collapse;
    border-spacing: 0px;
    border-cellpadding: 0px;
}
table.d_table2 td.blank {
	border:none;
}
TABLE.d_table2 TD {
    border:none;
    padding: 0px;
    font-size: 12px;
}
#d_colDims,#d_rowDims{
	background-color:#EEEEEE;
}
.colDimsList span{
	display:-moz-inline-box;  
	display:inline-block;
	width:80px;
	border:1px solid #CACACA;
	padding:2px;
	margin:3px 0px 3px 3px;
	background-color:#FFFFCC;
	text-align:center;
}
.rowDimsList span{
	display:-moz-inline-box;  
	display:inline-block;
	width:112px;
	border:1px solid #CACACA;
	border-right:none;
	background-color:#FFFFCC;
	text-align:center;
	padding:4px 2px 5px 2px;
}
.colDimsList span a.set, tr.scrollColThead th span a.set, .rowDimsList span a.set{
	display:-moz-inline-box;  
	display:inline-block;
	width:18px;
	height:16px;
	background-image:url("../img/dimset.png");
	background-repeat:no-repeat;
	background-position:center center;
	text-decoration:none;
}
tr.scrollColThead th span a.extKpibtn {
	background-image:url("../img/closeme.png");
}
.dimoptbtn {
	opacity:0.6;
}
#databetween #datemodbtn {
	font-weight:normal;
	font-size:10px;
}
.chartselect .selleft{
	width:100px;
	float:left;
}
.chartselect .selright{
	width:240px;
	float:right;
}
.chartselect .selright .one{
	margin:10px;
	padding:10px;
	display:none;
	cursor:pointer;
}
.chartselect .selleft ul {
	margin:0px;
	padding:0px;
}
.chartselect .selleft ul li {
	margin:0px;
	padding:8px;
	background-color:#EEE;
	border-bottom:solid 1px #CCCCCC;
	cursor:pointer;
}
.chartselect .selleft ul li.select {
	background-color:#FFF;
}
.tsbd {
	width:135px;
	float:left;
}
.tsbd2 {
	height:50px;
}
.tsbd .ts_h{
	font-size:14px;
	margin:10px;
	width:120px;
}
.tsbd2 .ts_h2{
	font-size:12px;
	margin:3px 20px 3px 3px;
	width:120px;
	float:left;
}
.tsbd .h_ctx, .tsbd2 .h_ctx{
	border:1px solid #7F9DB9;
	overflow:hidden;
	height:24px;
}
.chartctx {
	border:1px solid #CACACA;
	height:170px;
	margin-left:170px;
}
span.charttip {
	color:#999999;
	padding:3px;
	display:block;
}
span.charttxt {
	display:-moz-inline-box;  
	display:inline-block;
	width:90px;
	padding:3px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
span.charticon {
	display:-moz-inline-box;  
	display:inline-block;
	width:20px;
	height:16px;
	background-image:url("../img/dimset.png");
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
	opacity: 0.6;
	float:right;
	margin-top:3px;
}
span.chartdel {
	display:-moz-inline-box;  
	display:inline-block;
	width:20px;
	height:16px;
	background-image:url("../img/closeme.png");
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
	opacity: 0.6;
}
.tsbd span.grouptype {
	width:16px;
	height:16px;
	display:-moz-inline-box;  
	display:inline-block;
	background-image:url("../img/chartsumtype.gif");
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	padding:3px 0px 0px 0px;
}
.chartloading {
	height:40px;
	width:140px;
	background-image:url("../../ext-res/image/large-loading.gif");
	background-position:left center;
	background-repeat:no-repeat;
	background-color:#FFFFCC;
	border:1px solid #CACACA;
	position:absolute;
	display:none;
	font-size:14px;
	z-index:10000;
}
.chartloading .ltxt{
	margin:12px 0px 10px 40px;
}
.chartloading .ldclose {
	float:right;
	height:20px;
	width:20px;
	background-image:url("../img/closeme.png");
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.exchangexs{
	width:20px;
	height:170px;
	float:left;
}
.msginfo{
	width:85%;
	height:90%;
	padding-left:40px;
	line-height:20px;
}
.msgerr{
	background-image:url(../img/icon-error.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
.msgsuc{
	background-image:url(../img/icon-suc.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
#d_colDims span.colkpi{
	display:-moz-inline-box;  
	display:inline-block;
	width:110px;
	overflow:hidden;
}
#d_kpi span.kpiValue{
	display:-moz-inline-box;  
	display:inline-block;
	width:110px;
}
#d_rowDims span.s_rowDim{
	display:-moz-inline-box;  
	display:inline-block;
	width:110px;
	white-space: nowrap;
	overflow:hidden;
}
#d_colDims span.s_colDim{
	white-space: nowrap;
}
.exportpanel{
	margin:30px 10px 10px 10px;
}
.exportpanel .exptp{
	display:-moz-inline-box;  
	display:inline-block;
	width:68px;
	text-align:center;
	cursor:pointer;
}
.exportpanel .select{
	border:solid 1px #990000;
}
.helpctx {
	font-size:12px;
	line-height:20px;
	text-indent: 25px;
}
.chartdrillmenu{
	margin-top:5px;
	margin-left:5px;
}
.chartdrillDim{
	display:-moz-inline-box;  
	display:inline-block;
	text-align:center;
	background-color: #FFFFCC;
	border: 1px solid #CACACA;
	padding: 2px;
	margin:0px 3px 0px 3px;
}
.chartdrillDim a {
	display:-moz-inline-box;  
	display:inline-block;
	width:18px;
	height:12px;
	background-image:url("../../ext-res/image/minus.gif");
	background-repeat:no-repeat;
	background-position:center center;
	text-decoration:none;
}
#d_colDims span.colkpi span.kpiname{
	display:-moz-inline-box;  
	display:inline-block;
	white-space:nowrap;
	width:90px;
}

#p_param .ptabhelpr{
	padding:5px;
	color: #999999;
    font-size: 14px;
}
#p_param span.pppp {
	background-color: #FFFFCC;
    border: 1px solid #CACACA;
    display: inline-block;
    padding: 4px;
    text-align: center;
	margin:2px;
}
#p_param span.text {
	cursor:pointer;
}
#p_param span.pppp span.text {
	display:-moz-inline-box;  
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
}
#p_param span.pppp a {
	display:-moz-inline-box;  
	display:inline-block;
	width:18px;
	height:12px;
	background-image:url("../../ext-res/images/hmenu-del.gif");
	background-repeat:no-repeat;
	background-position:center center;
	text-decoration:none;
}
#reportcatalist {
	width: 190px;
	border: 1px solid #B7D0E3;
	height:140px;
	overflow:auto;
}
.openlist {
	width:600px;
	height:290px;
	display:inline-block;
	overflow-x: hidden;
	overflow:auto;
}
.openlistbody {
	width:600px;
	height:320px;
	overflow:hidden;
	margin:auto;
}
.tablesleft {
    border: 1px solid #999;
    float: left;
    height: 250px;
    overflow: hidden;
    width: 220px;
}
.tabletitle {
    background-color: #e4e4e4;
    padding-left: 3px;
}
.tablescenter {
    float: left;
    height: 250px;
    text-align: center;
    width: 46px;
}
.tablesright {
    border: 1px solid #999;
    float: right;
    height: 250px;
    overflow: hidden;
    width: 220px;
}