.textpanel{
	line-height:25px;
	margin:10px;
}
.inputform {
	width:160px;
}
span.inputtext {
	display:inline-block;
	width:90px;
}
.msginfo{
	width:85%;
	height:90%;
	padding-left:40px;
	line-height:20px;
}
.msgerr{
	background-image:url(../img/icon-error.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
.msgsuc{
	background-image:url(../img/icon-suc.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
.tablesleft {
	float:left;
	width:220px;
	height:295px;
	overflow:hidden;
	border:1px solid #999;
}
.tablesright {
	width:220px;
	height:295px;
	float:right;
	border:1px solid #999;
	overflow:hidden;
}
.tablescenter {
	width:46px;
	height:295px;
	float:left;
	text-align:center;
}
.tabletitle {
	padding-left:3px;
	background-color:#E4E4E4;
}
.actColumn {
    line-height: 19px;
    white-space: normal;
    word-break: break-all;
}
.actColumn .column {
    background-color: #ffff99;
    border: 1px solid #ffd784;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
}
#crtdataset .cubeleft{
	width:200px;
	height:360px;
	float:left;
	border:1px solid #999;
	overflow:hidden;
}
#crtdataset .cubeleft #cubelefttree {
	width:200px;
	height:330px;
	overflow:auto;
}
#crtdataset .cuberight {
	width:200px;
	height:360px;
	float:left;
	border:1px solid #999;
	overflow:hidden;
}
#crtdataset .cuberight #cuberighttree{
	width:200px;
	height:330px;
	overflow:auto;
}
#crtdataset .cubecenter{
	width:40px;
	height:360px;
	float:left;
	text-align:center;
}
#crtdataset .cubetitle {
	padding-left:3px;
	background-color:#E4E4E4;
}
#lines {
	text-align:center;
}
#lines .line {
	width:200px;
	margin:0 auto;
	height:27px;
	background-image:url(../img/etljob.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
#lines .nodes{
	text-align:center;
	padding:5px;
	border:1px solid #FC0;
	background-color:#FFC;
	width:200px;
	margin:0 auto;
}
#lines .nodes span.txt {
	display:inline-block;
	width:180px;
	font-size:14px;
}
#lines .nodes a.closebtn {
	display:inline-block;
	width:16px;
	height:16px;
}
.imptypes ul {
	margin: 0px;
    padding: 0px;
}
.imptypes ul li {
	background-color:#FFF;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 8px;
}
table.edittable {
	border-collapse:collapse;
	table-layout:inherit;
	width: 100%;	
}
table.edittable td {
	border: 1px solid #ECEDF1;
	padding:5px;
	font-size:12px;
}
table.edittable td.header {
	background-color:#F7F9FD;
	line-height:22px;
}
TABLE.grid3 {
	width: 100%;
	border-collapse:collapse;
	table-layout:fixed;
}
TABLE.grid3 TH {
	text-align: center;
    border: 1px solid #CACACA;
	font-size: 13px;
    height:26px;
    background-color: #EEEEEE;
	font-weight:normal;
	word-wrap: break-word;
}
TABLE.grid3 TD.grid3-td, TABLE.grid3 TD.grid3-foot {
	border: 1px solid #CACACA;
    padding: 3px 2px 3px 2px;
    font-size: 12px;
    height:20px;
	word-wrap: break-word;
}

TABLE.grid3 tr:hover{
	BACKGROUND-COLOR:#FFFFD2;
}


TABLE.grid3 TR.link-selected {
	BACKGROUND-COLOR: #EFEFEF;
}

TABLE.grid3 TR.row-link {
	cursor: pointer;
}

TABLE.grid3 TR.row-embed{
	BACKGROUND-COLOR: #FFFFFF !important;
}
