.textpanel{
	line-height:30px;
	margin:10px;
}
.inputform {
	width:160px;
}
span.inputtext {
	display:-moz-inline-box;  
	display:inline-block;
	width:120px;
}
.msginfo{
	width:85%;
	height:90%;
	padding-left:40px;
	line-height:20px;
}
.msgerr{
	background-image:url(../img/icon-error.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
.msgsuc{
	background-image:url(../img/icon-suc.gif);
	background-position:left center;
	background-repeat:no-repeat;
}
.cubelist .cubeleft {
	width:200px;
	height:auto;
	float:left;
}
.cubelist .cuberight {
	margin-top:5px;
	margin-right:10px;
}
.cubetreecls{
	float:left;
	overflow:auto;
}
.cubetreecls .cubetitle {
    background-color: #E4E4E4;
    padding-left: 3px;
	line-height:30px;
}
.cubebtn {
	float:right;
	width:160px;
}
.cubecenter{
	width:40px;
	height:350px;
	float:left;
	text-align:center;
}
.actColumn {
    line-height: 19px;
	white-space:normal; 
	word-break:break-all; 
}
.actColumn .column {
    background-color: #FFFF99;
    border: 1px solid #FFD784;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
}
.newcubestyle {
	padding:10px 10px 10px 20px;
	font-size:14px;
	background-image:url(../img/caleright.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.c_master {
	width:250px;
	background-color:#BAD0EE;
	padding:3px;
	position:absolute;
	left:240px;
	top:60px;
}
.c_master .tname, .m_dmcode .tname{
	margin:0px 3px 0px 3px;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	overflow:hidden;
}
.m_dmcode {
	width:90px;
	overflow:hidden;
	background-color:#BAD0EE;
	padding:3px;
	position:absolute;
}
.c_master table, .m_dmcode table {
	border-collapse: collapse;
	border-spacing: 0px;
}
.c_master table th, .m_dmcode table th {
	background-color:#000066;
	color:#FFFFFF;
	padding:3px;
	white-space:nowrap;
}
.c_master table td, .m_dmcode table td{
	background-color:#FFF;
	padding:3px;
	height:18px;
}
.m_line {
	position:absolute;
}
.meta-dialog-button {
	background:none repeat scroll 0 0 #f4f4f4;
	padding:5px;
	text-align:center;
	clear:both;
	margin-top:10px;
}
table.property {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
}
table.property th {
	text-align: left;
    border: 1px solid #CACACA;
	background-color:#EEEEEE;
	width:150px;
	height:30px;
	padding:3px;
	font-weight:normal;
}
table.property td {
    border: 1px solid #CACACA;
	padding:3px;
}