<!-- 仪表盘 include 文件 -->
<style>
<!--
.cbox {
	background-image:inherit;
	background-color:#f55;
}
.mv_param {
	border:1px solid #F00;
	background-color:#f55;
	background-image:inherit;
	color:#FFF;
}
.cbox .ctitleview {
	color:#FFF;
	font-size:12px;
}
TABLE.grid3 TH, TABLE.lockgrid TH {
	text-align: center;
    border: 1px solid #F00;
	font-size: 13px;
    height:26px;
    background-color:#F55;
	font-weight:normal;
	word-wrap: break-word;
	color:#FFF;
}
TABLE.lockgrid TD.lockgrid-td, TABLE.grid3 TD.grid3-td, TABLE.grid3 TD.grid3-foot {
	border: 1px solid #F00;
    padding: 3px 2px 3px 2px;
    font-size: 12px;
    height:20px;
	word-wrap: break-word;
	background-color:#FFFFFF;
}
.lock-dg .lock-dg-header, .lock-dg .lock-dg-body {
	background-color:#f5f5f5;
}
-->
</style>