<style>
<!--
.cbox {
	background-image:inherit;
	background-color:#FFFFCA;
}
.mv_param {
	border:1px solid #FF7;
	background-color:#FFFFCC;
	background-image:inherit;
	color:#000;
}
.cbox .ctitleview {
	color:#333;
	font-size:12px;
}
TABLE.grid3 TH, TABLE.lockgrid TH {
	text-align: center;
    border: 1px solid #FF7;
	font-size: 13px;
    height:26px;
    background-color:#FFFFCC;
	font-weight:normal;
	word-wrap: break-word;
	color:#000;
}
TABLE.lockgrid TD.lockgrid-td, TABLE.grid3 TD.grid3-td, TABLE.grid3 TD.grid3-foot {
	border: 1px solid #FF7;
    padding: 3px 2px 3px 2px;
    font-size: 12px;
    height:20px;
	word-wrap: break-word;
	background-color:#FFFFFF;
}
.lock-dg .lock-dg-header, .lock-dg .lock-dg-body {
	background-color:#FFF;
	border:1px solid #FF7;
	border-bottom:none;
}
-->
</style>