<style>
<!--
.cbox {
	background-image:inherit;
	background-color:#2828FF;
}
.mv_param {
	border:1px solid #00F;
	background-color:#2828FF;
	background-image:inherit;
	color:#FFF;
}
.cbox .ctitleview {
	color:#FFF;
	font-size:12px;
}
TABLE.grid3 TH, TABLE.lockgrid TH {
	text-align: center;
	border: 1px solid #00F;
	font-size: 13px;
	height:26px;
	background-color:#0000DD;
	font-weight:normal;
	word-wrap: break-word;
	color:#FFF;
}
TABLE.lockgrid TD.lockgrid-td, TABLE.grid3 TD.grid3-td, TABLE.grid3 TD.grid3-foot {
	border: 1px solid #00F;
    padding: 3px 2px 3px 2px;
    font-size: 12px;
    height:20px;
	word-wrap: break-word;
	background-color:#FFFFFF;
}
.lock-dg .lock-dg-header, .lock-dg .lock-dg-body {
	background-color:#f5f5f5;
}
-->
</style>